package org.example.users;

import org.openqa.selenium.chrome.ChromeOptions;

public class DimesFatih implements UserConfig {
    @Override
    public void applyChromeProfile(ChromeOptions options) {
        String userHome = System.getProperty("user.home");

        String winPath = userHome + "\\AppData\\Local\\Google\\Chrome\\User Data";

        options.addArguments("--user-data-dir=" + winPath);
        options.addArguments("--profile-directory=Default");
    }
}