package org.example.users;

import org.openqa.selenium.chrome.ChromeOptions;

public class Raihan implements UserConfig {
    @Override
    public void applyChromeProfile(ChromeOptions options) {
        String userHome = System.getProperty("user.home");

        String macPath = userHome + "/Library/Application Support/Google/Chrome";

        options.addArguments("--user-data-dir=" + macPath);
        options.addArguments("--profile-directory=Default");
    }
}